/* Overlays and interface boxes */
.overlay {
	position: absolute;
	top: 1em; bottom: 2em; left: 1em; right: 1em;
	margin: 0em; padding: 0em;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: visibility 0.0s 0.2s, opacity 0.2s 0.0s, z-index 0.0s 0.0s;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	transition: visibility 0.0s 0.0s, opacity 0.2s 0.0s, z-index 0.0s 0.0s;
}
.box {
	display: inline-block;
	vertical-align: middle;
	background: #333;
	color: #fff;
	padding: 0.5em 1.5em;
	max-width: 25em;
	text-align: left;
	border-radius: 1em;
	overflow-y: auto;
	max-height: 100%;
}
.box p {
	line-height: 1.5;
	margin: 1em 0em;
}
.box li {
	margin-bottom: 0.5em;
	line-height: 1.4;
}
a:link { color: #7bf; }
a:visited { color: #d7f; }
a:hover { color: #bdf; }
a:active { color: #ffc; }
h2 {
	font-size: 150%;
	margin: 0em auto;
}

/* Icons and buttons */
.icon {
	font-family: AppIcons, sans;
	font-size: 200%;
	display: inline-block; vertical-align: middle;
	width: 1em; height: 1em;
	line-height: 1em;
}
.icon.button {
	width: auto; height: auto;
}
.button, a.button, button.button {
	/* Button shape */
	/*width: 1em;*/
	/*height: 1em;*/
	padding: 0.25em;
	border-radius: 0.25em;
	/* color */
	color: #fff;
	background: #666;
	background: rgba(255, 255, 255, 0.3);
	opacity: 0.8;
	transition: background-color 0.1s, opacity 0.1s;
	/* vertically centered in line */
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	/* look like a button, not a link */
	cursor: pointer;
	border: none;
	text-decoration: none;
}
.button:hover, .button:focus, input:focus + label > button {
	opacity: 1.0;
}
.button.disabled {
	background: rgba(255, 255, 255, 0);
	opacity: 0.25;
	cursor: default;
}

/* Types of buttons */
.button_leftmargin {
	float: left;
	margin: 0em 0.25em 0.25em -0.5em;
}
.button_rightmargin {
	float: right;
	margin: 0em -0.5em 0.25em 0.25em;
}
#button_config {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	z-index: 10;
}
#button_help {
	position: absolute;
	bottom: 0.25em;
	right: 0.25em;
	z-index: 10;
}

/* Forms */
input[type="text"] {
	background: #fff;
	background: rgba(255, 255, 255, 0.75);
	color: #000;
	border: 0px solid #fff;
	border-radius: 0.25em;
	padding: 0.25em;
	width: 5em;
}
input.valid {
	background: #7f7;
	background: rgba(127, 255, 127, 0.75);
}
input.invalid {
	background: #f97;
	background: rgba(255, 159, 127, 0.75);
}
input[type="checkbox"] {
	display: inline-block;
	vertical-align: middle;
}

/* Message Box */
.messagebox {
	position: absolute;
	top: 1em; left: 0em; right: 0em; height: 0em;
	overflow: visible;
	text-align: center;
	z-index: 10;
}
.messagebox > .box { max-height: none; }
.messagebox > .box:empty { visibility: hidden; z-index: -1; }
.message {
	background: rgba(0, 0, 0, 0);
	border-radius: 0.2em;
	line-height: 0;
	opacity: 0.0;
	padding: 0.1em 0.5em;
	margin: 0em -0.5em;
	transition: background-color 0.1s, line-height 0.1s, opacity 0.1s;
}
.message.active {
	line-height: 1.2;
	opacity: 1.0;
}
.message.pinned { background: #000; background: rgba(0, 0, 0, 0.9); }
.message.pinned:before { content: '\002605'; padding-right: 0.5em; }
.message.error { color: #f96; font-weight: bold; }
.message.warning { color: #fc0; }
.message.debug { opacity: 0.5; }

/* Progress bars */
.progressbar {
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	height: 1em;
	margin-left: 1em;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.25em;
	position: relative;
}
.progressbar > div {
	position: absolute;
	width: 0em;
	height: 1em;
	border-radius: 0.25em;
	background: #7bf;
	background: rgba(127, 191, 255, 0.75);
}
